html {
	font-size: $base-font-size;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: $ice;
	color: $black;
	display: flex;
	flex-direction: column;
	font: $thin rem(14) $serif_text;
	line-height: (22 / 14);
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	width: 100vw;

	&.single-format-gallery,
	&.tax-client {
		background: $black;
		color: $white;
	}
}

strong {
	font-size: (11em / 14);
	font-style: normal;
	font-weight: inherit;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

a {
	border-bottom: 1px solid;
	color: inherit;
	text-decoration: none;
	transition: border-color 300ms ease-out, color 300ms ease-out;
}

p {
	margin: 0 0 (22em / 14);

	&.is-style-large {
		font: $thin italic rem(36) $serif_condensed;
		line-height: 1;
		margin: rem(50) 0;
		@include breakpoint($tablet) {
			margin: rem(75) 0;
		}
		@include breakpoint($desktop) {
			margin: rem(75) calc(100% / 12);
		}
	}

	.mkr-main > &,
	.mkr-case > &,
	.mkr-entry > & {
		margin-left: rem(gap($mobile) / 2);
		margin-right: rem(gap($mobile) / 2);
		@include breakpoint($tablet) {
			margin-left: rem(gap($tablet) / 2);
			margin-right: rem(gap($tablet) / 2);
		}
		@include breakpoint($desktop) {
			margin-left: calc(100% / 12 + #{rem(gap($tablet) / 2)});
			margin-right: calc(100% / 12 + #{rem(gap($tablet) / 2)});
		}
	}
}

ul,
ol {
	&:not(.ab-top-menu) {
		@extend p;
		font-style: italic;
		list-style: none;
		padding: 0;
	}

	&.is-style-tiny-light {
		font-size: (10em / 14);
		font-style: normal;
		letter-spacing: 0.125em;
		line-height: (22 / 10);
		text-transform: uppercase;

		strong {
			font: inherit;
			text-transform: none;
		}
	}

	&:not(.menu):not(.mkr-cases__entries) {
		a:first-child:last-child {
			border-color: transparent;

			&:hover,
			&:focus {
				border-color: $black;
			}
		}
	}
}

dl,
dd {
	margin: 0;
}

dt {
	cursor: pointer;
	display: block;
	font: $thin rem(11) $serif_text;
	letter-spacing: 0.1em;
	line-height: (22 / 11);
	margin: 0;
	padding-left: rem(24);
	position: relative;
	text-transform: uppercase;
	user-select: none;

	&::before,
	&::after {
		border-top: 1px solid $black;
		content: '';
		display: block;
		left: 0;
		position: absolute;
		top: rem(10);
		width: rem(11);
	}

	&::after {
		transform: rotate(90deg);
	}

	&[aria-expanded='true']::after {
		display: none;
	}
}

dd {
	font: $light rem(10) $sans;
	letter-spacing: 0.15em;
	line-height: (22 / 10);
	margin: 0.5em 0 1em;
	padding-left: rem(24);
	text-transform: capitalize;

	&[aria-hidden='true'] {
		display: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend p;
	margin-bottom: 0;

	&.is-style-huge {
		font: $thin italic rem(32) $serif_condensed;
		line-height: 1;
		margin: rem(200) 0;
		@include breakpoint($tablet) {
			font-size: rem(36);
		}

		.mkr-main > & {
			margin-left: rem(gap($mobile) / 2);
			margin-right: rem(gap($mobile) / 2);
			@include breakpoint($tablet) {
				margin-left: rem(gap($tablet) / 2);
				margin-right: calc(100% / 12 * 3 + #{rem(gap($tablet) / 2)});
			}
			@include breakpoint($desktop) {
				margin-left: calc(100% / 12 + #{rem(gap($desktop) / 2)});
				margin-right: calc(100% / 12 * 5 + #{rem(gap($desktop) / 2)});
			}
			@include breakpoint($wuxga) {
				margin-left: calc(100% / 12 + #{rem(gap($wuxga) / 2)});
				margin-right: calc(100% / 12 * 5 + #{rem(gap($wuxga) / 2)});
			}
		}
	}

	&.is-style-uppercase {
		font: inherit;
		letter-spacing: 0.125em;
		text-transform: uppercase;
	}

	&.is-style-italic {
		font: inherit;
		font-style: italic;
	}

	&.is-style-tiny-strong {
		font: $medium rem(10) $sans;
		letter-spacing: 0.15em;
		line-height: (22 / 10);
		margin-top: (22em / 10);
		text-transform: uppercase;
	}

	&.is-style-tiny {
		font: $thin rem(11) $serif_text;
		letter-spacing: 0.1em;
		line-height: (22 / 11);
		margin-top: (22em / 11);
		text-transform: uppercase;
	}
}
